
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Client environment files
environments/.env.*
!environments/.env.example

# Local test data
test-data/**
!test-data/**/
!test-data/.gitkeep
!test-data/README.md
!test-data/**/*.example.*
!test-data/**/.gitkeep
